
<section class="form-login">
  <div class="field">
    <label class="label">Login</label>
    <div class="control">
      <input class="input" type="text" placeholder="Username" v-model="form.userName">
    </div>
    <p class="help is-danger" v-show="!$v.form.userName.required">This login is required</p>
    <p class="help is-danger" v-show="!$v.form.userName.minLength">This login must be at least 4 characters</p>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Password" v-model="form.password">
    </div>
    <p class="help is-danger" v-show="!$v.form.password.required">This password is required</p>
    <p class="help is-danger" v-show="!$v.form.password.minLength">This password must be at least 6 characters</p>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button @click="login()" class="button is-primary">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</section>
